@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

button:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -16px;
  margin-left: 20px;
}

.logo span {
  margin-left: 10px;
  font-size: 24px;
  color: white;
  font-family: "Cursive";
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 30px;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navLinks li a:hover {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.actions img {
  transform: translateY(60px) scaleX(-1);
  width: 300px;
  height: 300px;
}

.actions button {
  background: #ffffff;
  height: 45px;
  width: 90px;
  color: #3c634a;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transform: translateX(-30px);
  align-self: center;
  border-radius: 10px;
}

.navbar {
  display: flex;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  background-color: #3c634a;
  overflow: hidden;
}

/* estilos home */

.hero {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.overlay {
  width: 700px;
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: -375px;
}

.overlay h1 {
  margin-top: -30px;
  font-size: 130px;
  color: #2f2727;
  transform: translateY(-20px);
}

/*  Sección Quienes Somos  */

html {
  scroll-behavior: smooth; /* Animación al hacer scroll para el quien somos del home*/
}

.Somos {
  background-color: #fff1ed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

.Somos .item {
  flex: 1;
  height: auto;
  padding: 0 20px;
}

.Somos .item.i2 {
  width: 100%;
  height: auto;
  border-radius: 10px;
  margin-left: 100px;
}

.Somos .content {
  flex: 1;
  text-align: center;
}

.Somos p {
  font-size: 18px;
  color: #4b4b4b;
  margin-top: 0;
  text-align: just;
}

.Somos .item,
.Somos .item.i2 {
  max-width: 45%;
}

.Encuentranos {
  background-color: #f2f1e3;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
}

.Encuentranos .item {
  flex: 1;
  padding: 20px;
  max-width: 45%;
}

.Encuentranos .item.i2 {
  text-align: center;
}

.Encuentranos p {
  font-size: 18px;
  color: #4b4b4b;
}

.mapa {
  padding: 0;
  margin: 0;
  width: 100%;
}

.mapa iframe {
  height: 450px;
}

/* caja de comentarios*/

.CajaComentarios {
  background-color: #f2f1e3;
  height: 600px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 50px;
}

.CajaComentarios .item {
  flex: 1;
  padding: 20px;
  max-width: 45%;
}

.CajaComentarios .item.i2 {
  text-align: center;
}

.CajaComentarios p {
  font-size: 18px;
  color: #4b4b4b;
}
