@tailwind base;
@tailwind components;
@tailwind utilities;

button:hover {
  text-decoration: underline;
}

.text {
  -webkit-box-reflect: below 1px linear-gradient(transparent, #0005);
  box-shadow: 0 0 5px #03e9f4, 0 0 15px #03e9f4, 0 0 25px #03e9f4,
    0 0 100px #03e9f4;
  background-color: #03e9f4;
}

.logo {
  display: flex;
  align-items: center;
  margin-top: -16px;
  margin-left: 20px;
}

.logo span {
  margin-left: 10px;
  font-size: 24px;
  color: white;
  font-family: "Cursive";
}

.navLinks {
  list-style: none;
  display: flex;
  justify-content: start;
  gap: 30px;
}

.navLinks li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.navLinks li a:hover {
  color: white;
  text-decoration: underline;
  font-size: 16px;
}

.actions {
  display: flex;
  justify-content: space-around;
  height: 200px;
}

.actions img {
  transform: translateY(60px) scaleX(-1);
  width: 300px;
  height: 300px;
}

.actions button {
  background: #ffffff;
  height: 45px;
  width: 90px;
  color: #3c634a;
  border: none;
  padding: 5px 15px;
  cursor: pointer;
  transform: translateX(-30px);
  align-self: center;
  border-radius: 10px;
}

.navbar {
  display: flex;
  height: 105px;
  justify-content: space-between;
  align-items: center;
  background-color: #3c634a;
}
