.services-container {
    display: flex;
    flex-direction: column;
    background-color: #ffe5d9; /* Fondo color durazno pastel */
    padding: 20px;
  }
  
  .services-header {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
    font-family: 'Corinthia', cursive; /* Asegúrate de importar esta fuente en tu proyecto */
  }
  
  .service-block {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  
.minicont{
  align-items: center;
  height: min-content;
  width: min-content;
  text-align: center;
}

  .service-block img {
    border-radius: 10px;
    margin-right: 20px;
  }
  
  .service-block p {
    flex: 1;
    font-size: 1em;
    line-height: 1.5;
  }

  /*Titulos de los servicios, arreglar*/
  .services-titles{
    display: flex;
    font-size: 1.5em;
    font-family: 'Corinthia', cursive; /* Asegúrate de importar esta fuente en tu proyecto */
    align-items: center;
  }

  .services-titles-r{
    display: flex;
    flex-direction: row-reverse;
    font-size: 1.5em;
    font-family: 'Corinthia', cursive; /* Asegúrate de importar esta fuente en tu proyecto */
    align-items: center;
  }

  
  /*quiero cambiar la altura y el ancho de los <Image> de la page.js que está en Services*/
  .img-services{
    display: flex;
    justify-content: center;
    width: 500px;
    border-style: solid;
  }
  